In [1]:
import pandas as pd
gdelt = pd.read_parquet('../cache/gdelt_cleaned.parquet')
btc = pd.read_parquet('../cache/btc_cleaned.parquet')

In [5]:
gdelt.head()

,Date,Actor1Country,Actor1GeoCountry,Actor1Type,Actor2Country,Actor2GeoCountry,Actor2Type,ActionCountry,EventType,QuadClass,GoldsteinScale,NumSources,NumArticles,AvgTone,Source,Actor1TypeGeneral,Actor2TypeGeneral
0,1546300800,None,None,CVL,None,None,NaN,None,Diplom Coop,VerbalCoop,3.4,4,50,2.354384,https://telegrafi.com/ne-shenj-proteste-labino...,Other,None
1,1546300800,Other,US,NaN,USA,US,NaN,US,Fight,MaterialConf,-10.0,2,12,-4.195804,http://www.wgow.com/news/manhunt-on-in-texas-f...,None,None
2,1546300800,None,US,GOV,None,US,GOV,US,Appeal,VerbalCoop,3.2,10,20,1.734061,https://hanfordsentinel.com/news/national/govt...,GOV,GOV
3,1546300800,RUS,RS,NaN,None,RS,GOV,RS,Material Coop,MaterialCoop,6.0,3,30,-0.427182,http://www.gp.se/nyheter/v%C3%A4rlden/sju-d%C3...,None,GOV
4,1546300800,USA,US,NaN,None,None,NaN,US,Appeal,VerbalCoop,3.0,8,23,-1.376241,http://www.790wpic.com/news/a-familys-whirlpoo...,None,None

In [6]:
gdelt.columns

Index(['Date', 'Actor1Country', 'Actor1GeoCountry', 'Actor1Type',
       'Actor2Country', 'Actor2GeoCountry', 'Actor2Type', 'ActionCountry',
       'EventType', 'QuadClass', 'GoldsteinScale', 'NumSources', 'NumArticles',
       'AvgTone', 'Source', 'Actor1TypeGeneral', 'Actor2TypeGeneral'],
      dtype='object')

In [4]:
btc.head()

    Timestamp  Open_pct_change
0  1546300800        -0.226363
1  1546301700        -2.578560
2  1546302600        -1.509301
3  1546303500         0.781614
4  1546304400        -0.291943

In [7]:
btc.columns

Index(['Timestamp', 'Open_pct_change'], dtype='object')

In [3]:
# merge the two dataframes
gdelt = gdelt.sort_values('Timestamp')
btc = btc.sort_values('Timestamp')

merged = pd.merge_asof(gdelt, btc, on='Timestamp')

KeyError: 'Timestamp'