In [1]:
import numpy as np

# 1. Naive Forecast for Time Series
class NaiveForecast:
    def __init__(self, lag=1):
        self.lag = lag
        self.last_value = None

    def fit(self, X, y):
        self.last_value = y[-self.lag]
        return self

    def predict(self, X):
        return np.full(len(X), self.last_value)


# # Example Usage
# def demonstrate_baseline_predictors():
#     # Simulated time series data
#     time_series = [10, 15, 12, 18, 20, 22, 25, 23]
#
#     # 1. Naive Forecast Example
#     print("Naive Forecast Example:")
#     X_naive = np.arange(len(time_series))  # dummy X for demonstration
#     naive_model = NaiveForecast(lag=1)
#     naive_model.fit(X_naive[:-1], time_series[:-1])
#     naive_predictions = naive_model.predict(X_naive[-1:])
#     print("Last observed value:", time_series[-2])
#     print("Naive Forecast Prediction:", naive_predictions)
#
#
# # Run the demonstration
# demonstrate_baseline_predictors()

In [2]:
import pandas as pd
encoded = pd.read_parquet('../cache/encoded.parquet')
encoded.head()

,Timestamp,Actor1Country,Actor1GeoCountry,Actor1Type,Actor1TypeGeneral,Actor2Country,Actor2GeoCountry,Actor2Type,Actor2TypeGeneral,ActionCountry,...,NumArticles,AvgTone,Source,pct_change_15min,pct_change_30min,pct_change_24h,QuadClass_VerbalCoop,QuadClass_MaterialCoop,QuadClass_VerbalConf,QuadClass_MaterialConf
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,1546300800,21,21,4,4,21,21,32,5,21,...,50,2.354384,https://telegrafi.com/ne-shenj-proteste-labino...,-0.033061,-0.226363,-2.433464,1,0,0,0
2019-01-01,1546300800,16,1,32,5,21,21,32,5,1,...,30,-0.339542,http://www.jornaldeluzilandia.com.br/txt.php?i...,-0.033061,-0.226363,-2.433464,1,0,0,0
2019-01-01,1546300800,21,20,9,2,21,20,9,2,20,...,40,1.734061,https://hanfordsentinel.com/news/national/govt...,-0.033061,-0.226363,-2.433464,1,0,0,0
2019-01-01,1546300800,20,20,32,5,21,21,32,5,20,...,21,-4.170072,http://midutahradio.com/news/national-news/lou...,-0.033061,-0.226363,-2.433464,0,0,1,0
2019-01-01,1546300800,20,20,6,0,21,21,32,5,20,...,18,1.415701,http://www.q106dot5.com/news/blind-baker-launc...,-0.033061,-0.226363,-2.433464,1,0,0,0

In [3]:
X = encoded.drop(columns=['pct_change_15min', 'pct_change_30min', 'pct_change_24h'])
y = encoded['pct_change_30min']
naive = NaiveForecast(lag=1)
naive.fit(None, y)
naive_predictions = naive.predict(X)
naive_predictions

/tmp/ipykernel_1038/2257088933.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  self.last_value = y[-self.lag]

array([-0.131209, -0.131209, -0.131209, ..., -0.131209, -0.131209,
       -0.131209])